.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 10px 20px;
    color: black;
    font-family: Arial, sans-serif;
  }
  
  .navbar-logo h1 {
    font-size: 1.5em;
    color: steelblue;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    text-transform: uppercase;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: blueviolet;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: darkcyan;
  }
  
  .active-link {
    color: #1abc9c;
    font-weight: bold;
    text-decoration: underline;
  }
  